html, body {
    margin: 0 auto;
    padding: 0;
    width: 768px;
}

header {
    
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 20px 25px;
    border-bottom: 1px solid #c5c5c5;
}

.header-img {
    height: 100px;
    
}

#logo {
    
}

#avatar {
    border-radius: 50%;
}